body{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: rgb(236, 163, 139);
}

h2{
    color:rgb(236, 163, 139) ;
}

h2{
    color: rgb(236, 163, 139);
}